body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

header {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #111;
  color: white;
}

#searchInput {
  flex: 1;
  padding: 6px;
}

#addBtn {
  font-size: 22px;
}

main {
  padding: 10px;
}

li {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.modal-content {
  background: white;
  padding: 15px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  margin-bottom: 8px;
  padding: 6px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

